/node_modules
/public/0.js
/public/hot
/public/storage
/public/css/*
/public/css/app.css
/public/js/*
/public/js/app.js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.idea
