@import 'rtl';

// Fonts
@import 'font';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body, #app{
    height: 100%;
}
body {
    text-align: right;
}

.background {
    background-image: url('../../public/assets/img/template/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

