.ps__rail-y {
    position: absolute;
    right: auto !important;
    left: 0 !important;
}
.md-button.md-icon-button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: 0 6px;
}
.md-button.md-icon-button {
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 5;
}
.md-menu-content {
    max-width: 400px;
    max-height: 40vh;
}
.md-dialog {
    z-index: 9999;
}
.sidebar .sidebar-wrapper .md-list li ul.nav {
    padding-right: 30px;
}
.md-card-stats .md-card-header.md-card-header-icon i {
    font-size: inherit;
    line-height: inherit;
    width: auto;
    height: auto;
    text-align: right;
}
.md-card-stats .md-card-header.md-card-header-icon > .card-icon > i {
    font-size: 36px !important;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}

.fixed-plugin {
    left: 0;
    right: auto;
    //z-index: 9999999;
    border-radius: 0 8px 8px 0;
}

body .swal2-container {
    z-index: 99999;
}

.md-tooltip{
    z-index: 99999999;
}
